<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление преподавателя</title>
    <link rel="stylesheet" href="/css/style.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="card border-primary home-card">
            <div class="card-header">Добавление дисциплины в систему</div>
            <div class="card-body">
                <form action="#" th:action="@{/admin/addTeacher}" th:object="${userDto}" method="post" class="dept-form">
                    <div class="input-group dept-input">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="surname">Фамилия</span>
                        </div>
                        <input type="text" class="form-control" th:field="*{surname}" required>
                    </div>

                    <div class="input-group dept-input">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="name">Имя</span>
                        </div>
                        <input type="text" class="form-control" required th:field="*{name}">
                    </div>

                    <div class="input-group dept-input">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="middle-name">Отчество</span>
                        </div>
                        <input type="text" class="form-control" required th:field="*{middleName}">
                    </div>

                    <select class="custom-select dept-input" th:field="*{position}">
                        <option value="0" selected>Open this select menu</option>
                        <option th:value="${positionType[0]}">Ассистент</option>
                        <option th:value="${positionType[1]}">Преподаватель</option>
                        <option th:value="${positionType[2]}">Доцент</option>
                        <option th:value="${positionType[3]}">Профессор</option>
                    </select>

                    <button type="submit" class="btn btn-primary dept-input">Добавить запись</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>