<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>

    <link rel="stylesheet" href="/css/style.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="card border-primary home-card">
            <div class="card-header">About</div>
            <div class="card-body">
                <p class="font-weight-normal text-justify">Данная система разрабатывалась как работа для курсового
                    проекта.</p>
                <p class="font-italic text-justify">This system of university department was develop for course
                    paper.</p>
                <p>Developer:
                    <a target="_blank" href="https://www.linkedin.com/in/scherbitsky/">Scherbitsky Konstantin</a>
                </p>
                <p>E-mail: <a href="mailto:k.scherbitsky@gmail.com">k.scherbitsky@gmail.com</a></p>
                <p>Project on GitHub:
                    <a target="_blank" href="https://github.com/k-scherbitsky/inform-system-dept">Click</a>
                </p>
            </div>
            <div class="card-footer">
                <button type="button" onclick="document.location.href='/'" class="btn btn-primary dept-input">
                    Назад
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>