<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="card border-primary home-card">
            <article class="card-body">
                <h4 class="card-title mb-4 mt-1">Вход</h4>
                <div class="failed-login" th:if="${param.error}">
                    Неправильный логин или пароль.
                </div>
                <form th:action="@{/login}" method="post">
                    <div class="form-group">
                        <label>Ваш логин</label>
                        <input name="username" class="form-control" placeholder="логин" type="text">
                    </div>
                    <div class="form-group">
                        <label>Ваш пароль</label>
                        <input name="password" class="form-control" placeholder="******" type="password">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Войти</button>
                        <button type="button" onclick="document.location.href='/'" class="btn btn-primary btn-block">
                            Назад
                        </button>
                    </div>
                </form>
            </article>
        </div>
    </div>
</div>
</body>
</html>