<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Управление предметами</title>
    <link rel="stylesheet" href="/css/style.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!--FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>

<div class="modal fade" id="editSubject" tabindex="-1" role="dialog" aria-labelledby="editSubjectTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg discipline-card" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Изменеия предмета</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/admin/add/subject}" method="post" th:object="${subjectDto}" class="dept-form">
                <div class="modal-body">
                    <input type="text" th:field="*{id}" style="display: none">

                    <div class="input-group dept-input">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="surname">Название</span>
                        </div>
                        <input type="text" class="form-control" th:field="*{subjectName}" required>
                    </div>

                    <div class="input-group dept-input">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="name">Специальность</span>
                        </div>
                        <input type="text" class="form-control" required th:field="*{speciality}">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="card border-primary table-card">
            <div class="card-header">Управление предметами</div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Название предмета</th>
                        <th scope="col">Специальность</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="subjectDto : ${subjectDtoList}">
                        <td th:text="${subjectDto.subjectName}"/>
                        <td th:text="${subjectDto.speciality}"/>
                        <td>
                            <div th:onclick="'removeSubject(' +${subjectDto.id} +')'">
                                <i class="fas fa-trash-alt fa-lg"></i>
                            </div>
                        </td>
                        <td>
                            <button type="button"
                                    data-toggle="modal"
                                    data-target="#editSubject"
                                    th:data-id="${subjectDto.id}"
                                    th:data-subjectname="${subjectDto.subjectName}"
                                    th:data-speciality="${subjectDto.speciality}">
                                <i class="fas fa-edit fa-lg"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <a href="/admin" class="btn btn-primary" role="button">Назад</a>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    function removeSubject(id) {
        var url = "/admin/remove/subject/" + id;
        $.ajax({
            url: url,
            type: 'DELETE',
            success: function () {
                window.location.reload();
            },
            error: function (jqXHR, exception) {
                window.location.reload();
            }
        })
    }

    $('#editSubject').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);

        var id = button.data('id');
        var subjectName = button.data('subjectname');
        var speciality = button.data('speciality');

        var modal = $(this);
        modal.find('#id').val(id);
        modal.find('#subjectName').val(subjectName);
        modal.find("#speciality").val(speciality);
    })

</script>
</body>
</html>