<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление преподавателя</title>
    <link rel="stylesheet" href="/css/style.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!--FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>

<div class="modal fade" id="editTeacher" tabindex="-1" role="dialog" aria-labelledby="editTeacherTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg discipline-card" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Изменеия связки</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/admin/add/teacher}" method="post" th:object="${userDto}" class="dept-form">
                <div class="modal-body">

                    <input type="text" th:field="*{id}" style="display: none">

                    <div class="input-group dept-input">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Фамилия</span>
                        </div>
                        <input type="text" class="form-control" th:field="*{surname}" required>
                    </div>

                    <div class="input-group dept-input">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Имя</span>
                        </div>
                        <input type="text" class="form-control" required th:field="*{name}">
                    </div>

                    <div class="input-group dept-input">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Отчество</span>
                        </div>
                        <input type="text" class="form-control" required th:field="*{middleName}">
                    </div>

                    <select class="custom-select dept-input" th:field="*{position}">
                        <option value="0" selected>Open this select menu</option>
                        <option th:value="${positionType[0]}">Ассистент</option>
                        <option th:value="${positionType[1]}">Преподаватель</option>
                        <option th:value="${positionType[2]}">Доцент</option>
                        <option th:value="${positionType[3]}">Профессор</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="card border-primary table-card">
            <div class="card-header">Управление преподавателями</div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Фамилия</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Отчество</th>
                        <th scope="col">Должность</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="userDto : ${userDtoList}">
                        <td th:text="${userDto.surname}"/>
                        <td th:text="${userDto.name}"/>
                        <td th:text="${userDto.middleName}"/>
                        <td th:text="${userDto.position}"/>
                        <td>
                            <div th:onclick="'removeTeacher(' +${userDto.id} +')'">
                                <i class="fas fa-trash-alt fa-lg"></i>
                            </div>
                        </td>
                        <td>
                            <button type="button"
                                    data-toggle="modal"
                                    data-target="#editTeacher"
                                    th:data-id="${userDto.id}"
                                    th:data-surname="${userDto.surname}"
                                    th:data-name="${userDto.name}"
                                    th:data-middlename="${userDto.middleName}"
                                    th:data-position="${userDto.position}">
                                <i class="fas fa-edit fa-lg"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <a href="/admin" class="btn btn-primary" role="button">Назад</a>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    function removeTeacher(id) {
        var url = "/admin/remove/teacher/" + id;
        $.ajax({
            url: url,
            type: 'DELETE',
            success: function () {
                window.location.reload();
            },
            error: function (jqXHR, exception) {
                window.location.reload();
            }
        })
    }

    $('#editTeacher').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);

        var id = button.data('id');
        var surname = button.data('surname');
        var name = button.data('name');
        var middlename = button.data('middlename');
        var position = button.data('position');

        console.log(id);
        console.log(surname);
        console.log(name);
        console.log(middlename);
        console.log(position);

        var modal = $(this);
        modal.find('#id').val(id);
        console.log(modal.find('#surname'));
        modal.find('#surname').val(surname);
        modal.find('#name').val(name);
        modal.find('#middleName').val(middlename);
        modal.find('#position').val(position).selected;

    })


</script>

</body>
</html>